body {
    margin: 0px;
    padding: 0px;
    background-color: #011627;
    color: #fdfffc;
    text-align: center;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-size: 45px;
}

input {
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: black;

}

.numbers:hower {
    background-color: yellow;
    cursor: pointer;
}

button {
    width: 50px;
    margin: 10px;
    padding: 10px;
}